.footer
  position: relative
  padding: 91px 0 64px 0
  background-color: $light-blue
  color: $white
  z-index: 1
  &-wrapper
    position: absolute
    top: 0
    right: 96px
    bottom: 0
    width: 100%
    z-index: -1
    background-color: $blue
    border-radius: 0px 200px 0px 0px
  &-top
    display: flex
    align-items: center
    margin-bottom: 193px
  &-info
    max-width: 460px
    min-height: 204px
    display: flex
    justify-content: space-between
    flex-direction: column
    margin-right: 180px
    &__title
      font-size: 36px
      line-height: 46px
      letter-spacing: 0.05em
      margin: 0
      margin-bottom: 32px
    &__text
      font-size: 16px
      line-height: 26px
      letter-spacing: 0.05em
      opacity: 0.6
  &-button
    padding: 15px 48px
    background: $light-blue
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2)
    outline: none
    border-radius: 10px
    border: 1px solid transparent
    &:hover
      background: $blue
      border: 1px solid $light-blue
  &-buttontext
    font-size: 16px
    line-height: 26px
    text-align: center
    letter-spacing: 0.04em
    color: $white
  &-bottom
    position: relative
    display: flex
    align-items: start
    margin-bottom: 64px
    &::before
      position: absolute
      top: -96px
      right: 80px
      display: block
      content: ""
      width: 2000px
      height: 0
      border: 1px solid #FFFFFF;
      opacity: 0.4;
    &__items
      max-width: 300px
      margin-right: 100px
    &__logo
      font-size: 28px
      line-height: 46px
      letter-spacing: 0.02em
      margin-bottom: 31px
    &__item
      display: flex
      font-family: 'Gilroy-Light',sans-serif
      font-size: 16px
      line-height: 26px
      letter-spacing: 0.05em
      margin-bottom: 24px
      &:nth-child(2)::before
        display: block
        content: "A."
        margin-right: 16px
      &:nth-child(3)::before
        display: block
        content: "T."
        margin-right: 16px
      &:nth-child(4)::before
        display: block
        content: "E."
        margin-right: 16px
    &__title
      font-size: 20px
      line-height: 30px
      letter-spacing: 0.05em
      margin: 0
      margin-bottom: 32px
    &__link
      font-family: 'Gilroy-Light',sans-serif
      font-size: 16px
      line-height: 26px
      letter-spacing: 0.05em
      margin-bottom: 16px
  &-production
    font-size: 16px
    line-height: 26px
    letter-spacing: 0.05em
    opacity: 0.4
